# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/

# Misc
coverage/

# SQLite database
*.sqlite
*.sqlite3

# Mac system files
Icon?

# Windows system files
Desktop.ini
